/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

myOrange : #F3851D
myBlue : #1A9DD7
myDark : #1C1C1A

myLighterDark : #353531

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px; /* n'est pas inhérited */
}

.header {
  height: 95vh;
  background-image: linear-gradient(to bottom, rgba(28, 28, 26, 0.8), rgba(53, 53, 49, 0.8)),
    url('../img/hero.jpg');
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 66%, 0 100%);

  position: relative;
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 100px;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 50px;

  backface-visibility: hidden; /* pour éviter le shakky sur l'animation*/
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 60px;

  animation: moveInleft 1s ease-in-out;
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 14.6px;
  white-space: initial;

  animation: moveInRight 1s ease-in-out;
}

@keyframes moveInleft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    opacity: 1;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  80% {
    opacity: 1;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  border-radius: 1000px;
  transition: all 0.2s;

  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 5px rgba(255, 255, 255, 0.2);
}

.btn-white {
  color: #1c1c1a;
  background-color: #fff;
  text-align: center;
}

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  transition: all 0.4s;
}

.btn-white::after {
  background-color: white;
}

.btn:hover::after {
  transform: scaleX(1.5) scaleY(1.7);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 0.5s ease-in-out 0.5s;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
