// COLORS
$my-orange: #f3851d;
$my-blue: #1a9dd7;
$my-dark: #1c1c1a;
$my-lighter-dark: #464640;
$my-grey: #777;
$my-white: #fff;

$my-gradient-1: #014866;
$my-gradient-2: #cc6300;

$my-gradient-10: #55c57a;
$my-gradient-11: #28b485;

// JONAS
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #777;
$color-primary: #1c1c1a;
$color-white: #fff;
$color-black: #000;

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

//FONT
$default-fontsize: 1.6rem;

// HEADER
$header-height: 95vh;
$tip-height: 66%;
$tip-height-offset: -0.34 * $header-height;

$tip-padding-top: 15rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 8rem;
