.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 55rem;
  width: 100%;

  box-shadow: 0 1.4rem 4rem rgba(0, 0, 0, 0.5);
  &__side {
    font-size: 3rem;

    height: 60rem;
    transition: all 0.4s ease-in-out;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;

    &--front {
      backface-visibility: hidden;

      background-color: white;
    }

    //BACKSIDE STYLING
    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(
          to bottom right,
          $color-primary-light,
          $color-primary-dark
        );
      }
      &-2 {
        background-image: linear-gradient(
          to bottom right,
          $color-secondary-light,
          $color-secondary-dark
        );
      }
      &-3 {
        background-image: linear-gradient(
          to bottom right,
          $color-tertiary-light,
          $color-tertiary-dark
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0deg);
  }

  //FRONT SIDE STYLING
  &__picture {
    height: 100%;
    background-size: cover;
    background-position: center;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    //test
    &--1 {
      background-image: url('../img/nat-4.jpg'),
        linear-gradient(to bottom right, $color-primary-light, $color-primary-dark);
    }
    &--2 {
      background-image: url('../img/nat-6.jpg'),
        linear-gradient(to bottom right, $color-secondary-light, $color-secondary-dark);
    }
    &--3 {
      background-image: url('../img/nat-10.jpg'),
        linear-gradient(to bottom right, $color-tertiary-light, $color-tertiary-dark);
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $color-white;
    position: absolute;
    top: 6rem;
    right: 2rem;
    width: 75%;
    @include respond(tab-land) {
      font-size: 2.5rem;
      width: 80%;
    }
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    @include respond(tab-port) {
      padding: 0.5rem 1rem;
    }

    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.85),
        rgba($color-primary-dark, 0.85)
      );
    }
    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.85),
        rgba($color-secondary-dark, 0.85)
      );
    }
    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-tertiary-light, 0.85),
        rgba($color-tertiary-dark, 0.85)
      );
    }
  }

  &__details {
    padding: 3rem;
    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-2;
        }
      }
    }
  }

  // BACK SIDE STYLING
  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    font-size: initial;
  }

  &__price-box {
    color: white;
    text-align: center;
    margin-bottom: 0rem;
  }

  &__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__price-value {
    font-size: 6rem;
    font-weight: 100;
  }

  // RESPOND !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  @include respond(tab-port) {
    // @media only screen and (max-width: 56.25em), only screen and (hover: none) {

    height: auto;
    border-radius: 3px;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;

    &__side {
      font-size: 3rem;

      height: auto;
      transition: all 0.4s ease-in-out;

      position: relative;

      //BACKSIDE STYLING
      &--back {
        transform: rotateY(0);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
      }
    }

    &:hover &__side--front {
      transform: rotateY(0);
    }

    &:hover &__side--back {
      transform: rotateY(0deg);
    }

    //FRONT SIDE STYLING

    // BACK SIDE STYLING
    &__cta {
      position: relative;
      top: 0%;
      left: 0%;
      transform: translate(0);
      width: 100%;
      font-size: initial;
      padding: 4rem;
    }

    &__price-box {
      color: white;

      margin-bottom: 3rem;
    }

    &__price-only {
      font-size: 1.4rem;
      text-transform: uppercase;
    }

    &__price-value {
      font-size: 6rem;
    }
  }
}
