body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $my-grey;
}

.heading-primary {
  color: $my-white;
  text-transform: uppercase;
  margin-bottom: 5rem;
  @include respond(tab-port) {
    margin-bottom: 3rem;
  }

  backface-visibility: hidden; /* pour éviter le shakky sur l'animation*/

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 6rem;

    animation: moveInleft 1s ease-in-out;

    @include respond(tab-port) {
      margin-top: 0rem;
      letter-spacing: 4rem;
      font-size: 6rem;
    }

    @include respond(phone) {
      margin-top: 18rem;
      letter-spacing: 1rem;
      font-size: 5rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.45rem;
    white-space: initial;

    animation: moveInRight 1s ease-in-out;

    @include respond(phone) {
      letter-spacing: 0.5rem;
      font-size: 1.65rem;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, $my-gradient-1, $my-gradient-2);
  display: inline-block;

  //pour le gradient sur le text
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 2px;

  transition: all 0.2s;

  @include respond(tab-port) {
    font-size: 3rem;
  }
  @include respond(phone) {
    font-size: 2.5rem;
  }

  &:hover {
    transform: skewY(2deg) skewY(2deg) scale(1.1);
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 0.5rem 0.5rem 0.5rem rgba($color: black, $alpha: 0.2);
  }
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;

  &:not(:last-child) {
    margin-bottom: 4rem;
  }
}
